In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("orders.csv")
df

     order_id  customer_id  payment order_date delivery_date
0           1           64    30811  8/30/2021    09/24/2021
1           2          473    50490   2/3/2021    02/13/2021
2           3          774    46763  10/8/2021    11/03/2021
3           4          433    39782   5/6/2021    05/19/2021
4           5          441    14719  3/23/2021    03/24/2021
..        ...          ...      ...        ...           ...
995       996          345    37843  1/13/2021    02/02/2021
996       997          346    53831  1/18/2021    01/31/2021
997       998          407    53308   5/5/2021    05/21/2021
998       999          428    31643  6/15/2021    07/12/2021
999      1000          896    27836   4/7/2021    04/24/2021

[1000 rows x 5 columns]

In [4]:
df.delivery_date.dtype

dtype('O')

In [15]:
def change_date(date_input):
  date_input = date_input.split("/")
  new_date = date_input[2] + "-" + date_input[0] + "-" + date_input[1]
  return new_date

In [21]:
for idx, row in df.iterrows():
  df['order_date'][idx] = change_date(row['order_date'])
  df['delivery_date'][idx] = change_date(row['delivery_date'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [27]:
df.to_csv("orders.csv")